@import url(https://fonts.googleapis.com/css?family=Antic+Slab);
@import url(https://fonts.googleapis.com/css?family=Special+Elite);
@import url(https://fonts.googleapis.com/css?family=Patua+One);
.layout {
	display:block;
	position: fixed;
	 box-shadow: 0 0 10px rgba(0,0,0,.5);
	top:0;
	left:0;
width:100%;z-index:100;

}
body{
	background-color:#fff;
	margin:0 auto;
	position:relative;
	margin-bottom:0px;

}

.layout h1 {
	z-index:10;
	position:absolute;
	 font-family: 'Patua One',cursive;
	  background-color:#fff;
		color:#006DC1;
		 padding:10px 10px 10px 20px;
		  left:0;
			 margin-top:0;
			  font-size:27px;
			}
.layout #forkme_banner {
	z-index:10;
  position:fixed;
 font-family: 'Lato', sans-serif;
  right: 0px;
  top:0;
  color: #fff;
  background-color:#006DC1;
  font-weight: 700;


  padding: 17.5px 15px 17.5px 15px;
}
#forkme_banner { text-decoration:none;}

.layout .menu{
	display:block;
	background-color:#fff;
	position:relative;
	z-index:10;
	margin-left:120px;
	padding:17px 10px 17px 10px;

}
 #menu1 {font-family: 'Lato', sans-serif;
	position:relative;
	padding: 10px 10px 10px 10px;
	color:#000;
	font-weight: 600;


}
.menu a{ text-decoration:none;}
footer {
	display:block;
	position:relative;
	bottom:0px;
	width:100%;
}
.partners {
	padding: 0 auto;
	font-size:12px;
	position:fixed;
	width:100px;
	bottom:240px;
	right:0px;
	height:4%;
	font-family:'Lato', sans-serif;
	text-align:center;
	background: #dcdcdc;
	transition: width 1.5s,height 1s;
	overflow:hidden;
	z-index:1000;
}
.partners:hover {
	width: 100%;
	height:8%;
	z-index:1000;
	overflow:hidden;
 font-size:20px;
 text-align: left;
}
.partners:hover span {
	
	text-align:center;
		z-index:1000;
}

 .main_content {
	display:block;
	position:relative;
	max-width:1200px;
	background-color:white;
	font-family: 'Lato', sans-serif;
	margin: 0 auto;
	padding:60px 20px 40px 40px;
	text-align:center;
}
 #older {
	padding:10px 10px 10px 10px;
	background-color:grey;
	text-decoration:none;
	color:white;
	box-shadow: 0 0 10px rgba(0,0,0,.5);

}

.main_content .newsletter {
padding:5px 10px 5px 10px;
border-bottom:solid black 1.5px;
font-size:24px;
text-align:center;
width:400px;
margin:5px auto;
}

.block1{
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	width:60%;
	position:relative;
	margin:20px auto;
	padding: 10px 10px 10px 10px;
}
.block1 a{ text-decoration:none;}
.block1 h2{font-size:24px; color:#10171a;text-align:left;font-weight:400; margin-top:10px;padding-top:10px;}
.block1 h3{margin-top:0; font-size:14px;text-align:left;color:#6F6F6F;padding-top:2px;font-weight:200; font-size:16px;}
.dater {font-size:10px;font-family:'Lato',sans-serif;text-transform:uppercase;font-weight:800;letter-spacing:1px;color:#10171a;padding-top:10px; padding-bottom:10px;}
.block1 #image {
	max-width:100%;
	box-shadow:-5px 5px 8px rgba(0,0,0,.15);
	position:relative;

}
.block1 #Yourstory {
	display:none;
	font-size:18px;
	transition:height 3s;
	postion:absolute;
	background: rgba(255, 0, 0, 0.5);
}
.foote{
	display:block;
	background-color:#fff;
	position:relative;
	bottom:0px;
	left:0px;
	width:100%;
	box-shadow: 0 0 10px rgba(0,0,0,.5);
	background-color:#006DC1;
	color:white;
	font-family: 'Lato', sans-serif;
	z-index:10;

}
 .foote #foot {
	position:relative;
	padding: 10px 10px 10px 10px;
	color:#fff;
	bottom:10px;
	left:20px;
	z-index:10;
}
.foote a{ text-decoration:none;}
#form {
	text-align:center;
	font-family: 'Lato', sans-serif;
	position:relative;
	text-align:center;
	color:#fff;
	background-color:#006DC1;
	padding: 10px 50px 50px 10px;
	display:block;
	z-index:1;
    font-size:18px;
}

#demo {
	background:rgba(255,255,255,0.81);
	position: fixed;
	width:100%;
	height:100%;
	display:none;

	}

#form1 {
	text-align:center;
	font-family: 'Lato', sans-serif;
	position:relative;

	margin:15% 25% 25% 25%;
	text-align:center;
	color:#fff;
	background-color:#006DC1;
	padding: 10px 50px 50px 10px;
	display:block;
	z-index:1;
  font-size:32px;
}

#form1 #mce-EMAIL {
	opacity:1;
	padding: 15px;
  border: solid 2px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  border-radius: none;
}

#form1 #mc-embedded-subscribe {
	opacity:1;
	padding: 15px;
  border: solid 2px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;

  font-family: 'Lato', sans-serif;
  font-size: 24px;


  border-radius: none;

}

button[type="button"]
{z-index:10;
  position:fixed;
 font-family: 'Lato', sans-serif;
  right: 0px;
  top:0;
  color: #fff;
  background-color:#006DC1;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 20px 15px 17px 15px;}
input[type="email"] {

    padding: 10px;
  border: solid 2px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;

  font-family: 'Lato', sans-serif;
  font-size: 16px;


  border-radius: none;
}
input[type="submit"] {

    padding: 10px;
  border: solid 2px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;

  font-family: 'Lato', sans-serif;
  font-size: 16px;


  border-radius: none;
}
